body {
	@extend %rubik-400;
	background-color: $silver-100;
	font-size: 20px;
	line-height: 1.5;
	color: $dark;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.transition-set {
	transition-property: opacity, box-shadow, color, text-shadow;
	transition-duration: 400ms;
	transition-timing-function: ease-in-out;
}

.link-set {
}

.btn-set {
}
