html,
body {
	height: 100%;
}

body {
	@extend %rubik-400;
	background-color: $silver-100;
	font-size: 20px;
	line-height: 1.5;
	color: $dark;
}

.wrapper {
	position: relative;
	overflow-x: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.section-global {
	margin-bottom: 120px;
}

.transition-set {
	transition-property: opacity, box-shadow, background-color, text-shadow, color,
		text-decoration, padding, transform;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}

.transition-set-svg {
	path,
	ellipse {
		transition-property: fill, stroke;
		transition-duration: 300ms;
		transition-timing-function: ease-in-out;
	}
}

.anim-accent {
	&:focus {
		box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
		text-decoration: none;
	}

	&:hover {
		color: $orange-900;
		text-decoration: none;
		box-shadow: none;
	}

	&:active {
		text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
		color: $dark;
		text-decoration: none;
		box-shadow: none;
	}
}

.anim-primary {
	&:focus {
		background-color: rgba(255, 104, 56, 0.1);
		box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
	}

	&:hover {
		background-color: $orange-900;
	}

	&:active {
		background-color: rgba(255, 104, 56, 0.1);
	}
}

.anim-set {
	&:focus {
		box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
		@extend %color-primary-set;
	}

	&:hover {
		box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);

		@extend %color-primary-set;
	}

	&:active {
		@extend %color-primary-set;
		box-shadow: none;
	}
}

.anim-set-svg {
	&:focus,
	&:hover,
	&:active {
		path {
			fill: $orange-900;
		}
	}
}

.border-global {
	border-radius: 5px;
}

.accent-color {
	color: $orange-900;
}

.title {
	@extend %rubik-500;
	text-align: center;
	font-size: 36px;
	line-height: 1.3;
	color: $darkBlue-900;
	margin-bottom: 60px;
}

.letter-upper {
	&::first-letter {
		text-transform: uppercase;
	}
}
