$accent-color: #ff6838;
$primary-color: #ececec;
$theme-color: #c2c2c2;
$main-color: #363853;
$default-color: #31352b;
$special-color: #f9faff;
$white: #fff;

%rubik-300 {
	font-family: 'rubik', sans-serif;
	font-weight: 300;
}

%rubik-400 {
	font-family: 'rubik', sans-serif;
	font-weight: 400;
}

%rubik-500 {
	font-family: 'rubik', sans-serif;
	font-weight: 500;
}

%rubik-400-italic {
	font-family: 'rubik', sans-serif;
	font-weight: 400;
	font-style: italic;
}

%flex-sb {
	display: flex;
	justify-content: space-between;
}

%flex-c-c {
	display: flex;
	justify-content: center;
	align-items: center;
}

%flex-sb-c {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

%image-set {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

%color-accent-set {
	color: $white;
	background-color: $accent-color;
}

%color-primary-set {
	color: $accent-color;
	background-color: rgba(255, 104, 56, 0.1);
}

%text-decor-global {
	text-decoration: underline;
	text-decoration-skip-ink: none;
}
