$orange-900: #ff6838;
$silver-200: #ececec;
$gray: #c2c2c2;
$darkBlue-900: #363853;
$dark: #31352b;
$silver-100: #f9faff;

%rubik-300 {
	font-family: 'rubik', sans-serif;
	font-weight: 300;
}

%rubik-400 {
	font-family: 'rubik', sans-serif;
	font-weight: 400;
}

%rubik-500 {
	font-family: 'rubik', sans-serif;
	font-weight: 500;
}

%rubik-400-italic {
	font-family: 'rubik', sans-serif;
	font-weight: 400;
	font-style: italic;
}

%flex-sb {
	display: flex;
	justify-content: space-between;
}

%flex-c-c {
	display: flex;
	justify-content: center;
	align-items: center;
}

%flex-sb-c {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

%image-set {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

%color-accent-set {
	color: #fff;
	background-color: $orange-900;
}

%color-primary-set {
	color: $orange-900;
	background-color: rgba(255, 104, 56, 0.1);
	box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
}

%text-decor-global {
	text-decoration: underline;
	text-decoration-skip-ink: none;
}
