@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
	position: relative;
	padding-top: 160px;

	&__top {
		position: fixed;
		background-color: $silver-100;
		top: 0;
		left: 0;
		width: 100%;
		padding: 57px 0;
	}

	&__top.header-fixed {
		padding: 15px 0;
		box-shadow: 0 0 2px 0 $gray;
	}
	&__logo {
		margin-left: 5px;
		margin-right: auto;
	}
}

.logo {
	&:focus {
		box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
	}

	&:hover {
		opacity: 0.8;
	}

	&:active {
		opacity: 0.5;
	}
}

.menu {
	@extend %flex-sb-c;

	&__list {
		display: flex;
		gap: 40px;
		margin-right: 50px;
	}

	&__list-link {
		border-radius: 5px;
		text-transform: capitalize;
		font-size: 18px;
		line-height: 1.3;
		letter-spacing: 0.01em;

		&--active {
			color: $orange-900;
		}
	}
}

.user-nav {
	display: flex;
	gap: 10px;
	margin: auto 0;

	&__link {
		width: 44px;
		height: 44px;
		@extend %flex-c-c;

		&:hover {
			ellipse,
			path {
				stroke: #fff;
			}

			span {
				background-color: #fff;
				color: $orange-900;
			}
		}
		&--cart {
			position: relative;
		}
	}

	&__num {
		position: absolute;
		top: 8px;
		right: 3px;
		padding: 2px 4px;
		border-radius: 50%;
		background-color: $orange-900;
		color: #fff;
		font-size: 10px;
		line-height: 1;
	}
}

.hero {
	&__content {
		@extend %flex-sb;
	}

	&__info {
		max-width: 476px;
		width: 100%;
		margin: auto 0;
	}

	&__title {
		@extend %rubik-500;
		color: $darkBlue-900;
		text-transform: uppercase;
		font-size: 66px;
		line-height: 1.3;
		margin-bottom: 20px;
	}
	&__title-block {
		display: block;
	}

	&__text {
		max-width: 450px;
		width: 100%;
		margin-bottom: 20px;
	}

	&__order-link {
		@extend %color-accent-set;
		display: inline-block;
		padding: 12px 32px;
		letter-spacing: 0.03em;
		font-size: 18px;
		line-height: 1.3;
		margin-right: 25px;
	}

	&__info-link {
		@extend %text-decor-global;
		color: $darkBlue-900;

		&:focus,
		&:hover,
		&:active {
			text-decoration: none;
		}
	}

	&__img {
		@extend %image-set;
		max-width: 560px;
		width: 100%;
		height: 660px;
	}
}

.pop-food {
	&__filter--list {
		@extend %flex-c-c;
		gap: 20px;
		margin-bottom: 45px;
	}

	&__filter-item {
		position: relative;
		letter-spacing: 1.3;
	}

	&__btn {
		padding: 22px 32px 22px 86px;
		box-shadow: 0 0 0 1px $silver-200;
		background-color: #fff;
		&--burger {
			@extend %color-accent-set;
		}
	}
	&__icon {
		position: absolute;
		top: 50%;
		left: 36px;
		transform: translateY(-50%);
	}

	&__link {
		display: block;
		width: fit-content;
		margin: 0 auto;
	}
	&__content {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		margin-bottom: 60px;
	}
}

.food-item {
	width: 210px;
	height: 299px;
	box-shadow: 0 0 0 1px $silver-200;
	background-color: #fff;
	padding: 20px 15px;
	text-align: center;
	font-size: 15px;
	// @extend %flex-sb-c;
	display: flex;
	align-items: center;

	flex-direction: column;
	&__img {
		width: 140px;
		height: 140px;
		margin-bottom: 10px;
	}

	&__title {
		@extend %rubik-400;
		line-height: 1.2;
		font-size: 15px;
		margin-bottom: auto;
	}
	&__price {
		@extend %rubik-500;
		color: $darkBlue-900;
		line-height: 1.4;
		margin-bottom: 10px;
	}
	&__link {
		display: inline-block;
		margin: 0 auto;
		@extend %color-accent-set;
		font-size: 14px;
		line-height: 1.3;
		padding: 7px 14px;
	}
}

@import 'media';
